@import url("https://use.typekit.net/til1svo.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Museo Sans, sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.hero-text {
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
